<h2>Let's load some data</h2>
<p>We will also use AngularJS to bind fields</p>
<hr>
<div class="row">
	<div class="col-lg-6">
		
		<h3>Here are some messages:</h3>
		<ul>
			<li ng-repeat="message in messages">
				<b>{{message.content}}</b>
			</li>
		</ul>
		<br>
		<h3>Let's use <code>$http.get</code> to grab data from <code>/test</code>:</h3>
		<p class="lead">Hello: <b>{{person.firstName + ' ' + person.lastName}}</b></p>		
	</div>
	<div class="col-lg-6">
		<p>Here are the contents of the <code>message</code> array defined in the ExamplesCtrl controller</p>
		<pre>messages: [
	{content: 'Hello'},
	{content: 'Who are you?'}, 
	{content: 'What are you doing?'}, 
	{content: 'OK'},
	{content: 'Let\'s get it'}
	]</pre>
	<br>
	<p>Here are the contents of the JSON object returned from a GET call to <code>/test</code></p>
		<pre>{
	firstName: 'Any',
	lastName: 'Developer'
}</pre>
	</div>
</div>