<div class="container-fluid">
  <h1>
    2-Day Weekend Getaway Opportunities
  </h1>
  <div class="lead">
    <p>
      Non-stop, roundtrip flights departing Friday late evening (8p-midnight) and returning Sunday evening (6p-10p) or Monday morning (4a-8a).
    </p>
    <p class="panel-success">
      <span class="panel-inline">Light green</span>
      rows indicate prices among the lowest 10% ever seen for that destination.
    </p>
    <p class="panel-amazing">
      <span class="panel-inline">Green</span>
      rows indicate prices among the lowest 1% ever seen for that destination.
    </p>
  </div>
  <div class="well row">
    <span style="width: 100px;">Filter by destination airport code:</span>
    <input style="width: 500px;" placeholder="DEN, LAS, LAX, PDX, PHX, PSP, SAN, SEA, SLC, or YVR" ng-model="destSearch">
  </div>
  <div ng-include="'/www/travelroos/partials/fares.html'">
  </div>
</div>

