<link rel="stylesheet" href="/www/css/navbar-fixed-top.css">
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                                                                                                    <a class="navbar-brand" href="#/">Weekend Airfare Tracker</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/">Home</a></li>
        <li class="active"><a href="#/2day">2 Day</a></li>
        <li><a href="#/3day">3 Day</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container-fluid">
  <h1>
    2-Day Weekend Getaway Opportunities
  </h1>
  <div class="lead">
    <p>
      Non-stop, roundtrip flights departing Friday late evening (8p-midnight) and returning Sunday evening (6p-10p) or Monday morning (4a-8a).
    </p>
    <p class="panel-success">
      <span class="panel-inline">Light green</span>
      rows indicate prices among the lowest 10% ever seen for that destination.
    </p>
    <p class="panel-amazing">
      <span class="panel-inline">Green</span>
      rows indicate prices among the lowest 1% ever seen for that destination.
    </p>
  </div>
  <div ng-include="'/www/travelroos/partials/fares.html'">
  </div>
</div>

