<head>
  <link rel="stylesheet" href="/www/css/cover.css">
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Weekend Airfare Tracker</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#/2day">2 Day</a></li>
                  <li><a href="#/2day">3 Day</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- Inner cover begin -->
          <div class="inner cover">
            <h1 class="cover-heading">Find your weekend escape.</h1>
            <p class="lead">Weekend Airfare Tracker monitors weekend airfare for non-stop, roundtrip flights from the San Francisco bay area to nearby popular getaways.</p>
            <p class="lead">
              <a href="#/2day" class="btn btn-lg btn-default">2 day getaways</a>
              <a href="#/3day" class="btn btn-lg btn-default">3 day getaways</a>
            </p>
          </div>
          <!-- Inner cover end -->
          <div class="mastfoot">
            <div class="inner">
              <p>Made for friends and family by <a href="https://www.linkedin.com/in/andrewchen0" target=_blank>Andrew Chen</a>.</p>
            </div>
          </div>
        </div>
        </div>
      </div>
</body>
