/* Put your CSS here */
.good {
  color: lime;
  font-weight: bold;
}
.bad {
  color: red;
  font-weight: bold;
}
.neutral {
  color: black;
  font-weight: bold;
}
.panel-amazing {
  border-color: #d6e9c6;
}
.panel-amazing>.panel-heading {
  color: #010601;
  background-color: #89C871;
  border-color: #d6e9c6;
}
.panel-amazing>.panel-inline {
  color: #010601;
  background-color: #89C871;
  border-color: #d6e9c6;
}
.panel-success>.panel-inline {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
.old_date {
  color: rgba(84, 84, 84, 0.65);
}
.span_link {
  color: #337ab7;
  text-decoration: none;
}
.span_link:active, .span_link:hover {
  outline: 0;
}
.span_link:hover {
  color: #23527c;
  text-decoration: underline;
}
.span_link:focus {
  outline: thin dotted;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.view {
  height: 100%;
}
.loader {
  margin-left: 15px;
}
input[type=checkbox] {
  vertical-align: top;
}
label {
  font-weight: normal;
}
#deal_row {
  padding-top: 10px;
}
